<div class="page-header">
    <h1>{{ RestClient['app/name'] }} <small>{{ RestClient['app/host'] }}</small></h1>
</div>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="key in ['app/host', 'app/port', 'app/name', 'app/type']" ng-click="">
            <td>{{ key }}</td>
            <td>{{ RestClient[key] }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Channel</th>
            <th>Direction</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="channel in RestClient['app/channels']" ng-click="">
            <td>{{ channel.topic }}</td>
            <td>{{ channel.direction }}</td>
            <td>{{ channel.description }}</td>
        </tr>
    </tbody>
</table>

<div class="progress" ng-show="MqttClient.Status === 'connecting'">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">Connecting</span>
    </div>
</div>

<form class="form-inline">
  <div class="form-group">
    <select ng-model="ConnectionType" class="form-control" placeholder="Connection Type">
      <option value="Local">Use Local Connection</option>
      <option value="Remote">Use Remote Connection</option>
    </select>
  </div>
</form>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a ng-click="Connect()" role="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Connect
    </a>
    <a ng-click="Update()" role="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update
    </a>
</div>

<br>

<h4>Subscriptions</h4>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Payload</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(topic, payload) in MqttSubscriptions">
            <td>{{ topic }}</td>
            <td>{{ payload }}</td>
        </tr>
    </tbody>
</table>

<h4>Actions</h4>

<form class="form-inline" ng-repeat="Channel in MqttInChannels">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">{{ Channel.topic }}</div>
            <input type="text" ng-model="Channel.payload" class="form-control" id="" placeholder="Payload">
            <div class="input-group-addon">
                <a href="" ng-click="PublishToChannel(Channel);">Publish</a>
            </div>
        </div>
    </div>
</form>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a ng-click="Subscribe()" ng-show="MqttClient.Status === 'connected'" role="button" class="btn btn-primary">Subscribe</a>
    <a ng-click="Unsubscribe()" ng-show="MqttClient.Status === 'connected'" role="button" class="btn btn-primary">Unsubscribe</a>
</div>